<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="net451" />
  <package id="OxyPlot.Core" version="2014.1.546" targetFramework="net451" />
  <package id="OxyPlot.Wpf" version="2014.1.546" targetFramework="net451" />
  <package id="Prism" version="5.0.0" targetFramework="net451" />
  <package id="Prism.Composition" version="5.0.0" targetFramework="net451" />
  <package id="Prism.Interactivity" version="5.0.0" targetFramework="net451" />
  <package id="Prism.Mvvm" version="1.0.0" targetFramework="net451" />
  <package id="Prism.PubSubEvents" version="1.0.0" targetFramework="net451" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net451" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net451" />
</packages>